/*Created by: Nicola Roundill
Victoria University 2015
MDDN 352
Ubiqutious Computing*/

/*CSS for banner section*/
.bannerImage {
	max-height: 500px;
	min-height: 100px;
	overflow: hidden;
	border: 0 none;
	box-shadow: none;
	padding: 0;
	margin: 0;
	background: 000;
}

.bannerDiv {
	max-height: 400px;
}

/*CSS for recipe steps*/
.recipeImage {
	max-height: 400px;
	max-width: 400px;
	overflow: hidden;
	border: 0 none;
	box-shadow: none;
	padding: 20px;
	margin: auto;
}

.recipeDiv {
	max-height: 700px;
	min-height: 200px;
}

.headerFooter{
	max-height: 100px;
	min-height: 50px;
}

/* Custom font set up. Retrieved from http://www.dafont.com/djb-rubias-tiny-script.font?back=theme */
@font-face{
	font-family: "messy";
	src: url("src/fonts/DJB_Rubia's_Tiny_Script.ttf");
}

h1 {
	font-family: "messy", Verdana, Tahoma;
	font-size: 6em;
	max-height: 300px;
	text-align: center;
	color: #ffffff;
	text-shadow: 3px 3px 5px #111;
}

p {
	font-family: Courier, Arial, Verdana;
	font-size: 1.8em;
	text-align: left;
	color: #6a5d50;
	padding: 1em;
}

body {
	background-color: #2f2c28;

}

/*Making my little sections look PRETTEH*/
.thumbnail {
	background: #999083;
}

.borderProperties {
	border: 2px dashed #666;
	padding: 30px;
}

.outerBorder {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 5px;
	padding-right: 20px;
	border: 0 none;
	box-shadow: 10px 10px 20px;
}


/*Parallax settings for the knives*/
#parallax1 {
	position: fixed;
	z-index: -2;
	max-height: 200px;
	max-width: 32px;
	opacity: 0.95;
	width: 50%;
	left: 5%;
}

#parallax2 {
	position: fixed;
	z-index: -3;
	max-height: 200px;
	max-width: 40px;
	opacity: 0.3;
	width: 50%;
	left: 17%;

}

#parallax3 {
	position: fixed;
	z-index: -3;
	max-height: 200px;
	max-width: 40px;
	opacity: 0.2;
	width: 50%;
	left: 34%;
}

#parallax4 {
	position: fixed;
	z-index: -3;
	max-height: 200px;
	max-width: 40px;
	opacity: 0.75;
	width: 50%;
	left: 51%;
}

#parallax5 {
	position: fixed;
	z-index: -3;
	max-height: 200px;
	max-width: 40px;
	opacity: 0.6;
	width: 50%;
	left: 68%;
}

#parallax6 {
	position: fixed;
	z-index: -3;
	max-height: 200px;
	max-width: 40px;
	opacity: 0.8;
	width: 50%;
	left: 90%;
}

/*In all honesty I'm not sure what this is for. I used to know but I dont any more*/
#content_layer{
	position: absolute;
}

/*Setting sizes for the ingredient icons (under: "Shit you need")*/
.ingreIcon img {
	max-width: 100px;
	max-height: 100px;
}

#iconMass {
	text-align: center;
}

/*Settings for popups*/
#popupPotato{
	display: none;	
}

#popupSalt {
	display: none;
}

#popupChicken {
	display: none;
}

#popupPeas {
	display: none;
}






